@model SearchIndexModel

@{
    var searchPageType = Model.SearchIndexType.SearchIndexPage;
}

<form asp-controller="Search" asp-action="Results" method="post" role="search" class="govuk-!-margin-bottom-6">

    <input hidden name="pageNumber" value="1" />

    @foreach (var searchField in searchPageType.IndexFields)
    {
        <govuk-input name="queries-@searchField.Name" spellcheck="false">
            <govuk-input-label is-page-heading="false" class="govuk-label--m">@searchField.Label</govuk-input-label>            
        </govuk-input>
    }

    <govuk-button type="submit">Search</govuk-button>

</form>
