@model Component.Form.Model.Component

<div class="govuk-form-group">
  <label class="govuk-label" for="@Model.Name-phone-number">
    @Model.Label
  </label>
  <input class="govuk-input govuk-input--width-20" id="@Model.Name-phone-number" name="@Model.Name-phoneNumber" type="tel" autocomplete="tel">
</div>