@{
    ViewData["Title"] = "GOV.UK - Test Composition Service - Home Page";
}

<h1 class="govuk-heading-xl">Welcome to the test composition service</h1>

<p class="govuk-body">This is a test composition service that demonstrates how to use the configurable components built to assist rapid application development of government services</p>
<p class="govuk-body">Use one of links below to see the different components in action</p>

<p class="govuk-body">
    <ul class="govuk-list">
        <li><a href="/search/eiir">Search component</a></li>
        <li><a href="/form/repeatingInlinePage/start">Form component</a></li>
    </ul>
</p>