@model DetailViewModel
@{
    string title = Model.DetailTypeModel.DetailsPage.Title;
}

<h1 class="govuk-heading-l">@title</h1>

<govuk-accordion id="accordion-with-summary-sections" heading-level="3">

@foreach (var sectionDetail in Model.DetailTypeModel.DetailsPage.Sections)
{   
    <govuk-accordion-item expanded="true">
        <govuk-accordion-item-heading>@sectionDetail.Title</govuk-accordion-item-heading>
        <govuk-accordion-item-content>
            <dl class="govuk-summary-list">
                @foreach (var field in sectionDetail.Fields)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">@field.Label</dt>
                        <dd class="govuk-summary-list__value">@Model.Data[field.Name]</dd>
                    </div>
                }
            </dl>
        </govuk-accordion-item-content>
    </govuk-accordion-item>    
}    
</govuk-accordion>