@model DetailViewModel
@{
    var pageModel = Model.PageModel;
    string title = pageModel.Title;
}

@if (!String.IsNullOrEmpty(title))
{
    <h1 class="govuk-heading-l">@title</h1>
}

<govuk-accordion id="accordion-with-summary-sections" heading-level="3">

@foreach (var sectionDetail in pageModel.Sections)
{   
    <govuk-accordion-item expanded="true">
        <govuk-accordion-item-heading>@sectionDetail.Title</govuk-accordion-item-heading>
        <govuk-accordion-item-content>
            @foreach (var sectionComponent in sectionDetail.Components)
            {
                switch (sectionComponent.Component.Type) 
                {
                    case "detailList":
                        @await Html.PartialAsync("SearchComponents/_DetailList", sectionComponent);
                        break;
                    case "html":
                        @Html.Raw(sectionComponent.Component.Content);
                        break;
                }
            }
        </govuk-accordion-item-content>
    </govuk-accordion-item>    
}    
</govuk-accordion>