@model Component.Form.Model.Condition

<govuk-breadcrumbs collapse-on-mobile="true">
    <govuk-breadcrumbs-item asp-controller="Home" asp-action="Index">Home</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/form/@ViewBag.FormId/edit">Form @ViewBag.FormId</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item href="/form/@ViewBag.FormId/editPage/@ViewBag.PageId">Page @ViewBag.PageId</govuk-breadcrumbs-item>
    <govuk-breadcrumbs-item>New Condition</govuk-breadcrumbs-item>
</govuk-breadcrumbs>

<h2 class="govuk-heading-l">Add New Condition</h2>

<form asp-action="Add" method="post" class="govuk-form-group" id="add-condition-form">
    <div id="validation-rule-hint" class="govuk-hint">
      Your expression must be valid C# script that returns true if the condition is met.
    </div>    
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="Expression" id="expression-label"></label>
        <input class="govuk-input" asp-for="Expression" id="expression-input" />
        <span asp-validation-for="Expression" class="text-danger" id="expression-validation"></span>
    </div>
    <div class="govuk-form-group">
        <label class="govuk-label" asp-for="NextPageId" id="nextPageId-label"></label>
        <input class="govuk-input" asp-for="NextPageId" id="nextPageId-input" />
        <span asp-validation-for="NextPageId" class="text-danger" id="nextPageId-validation"></span>
    </div>
    <div class="govuk-form-group">
        <button type="submit" class="govuk-button" id="add-condition-submit">Add</button>
    </div>
</form>