@model Component.Form.Model.FormModel;
@{
    ViewData["Title"] = "Summary";
    var page = Model.Pages.Find(page => page.PageType == "summary");
    var title = page.Title;
}

@if (!String.IsNullOrEmpty(title))
{
    <h1 class="govuk-heading-l">@title</h1>
}

@foreach (var component in page.Components)
{
    switch (component.Type)
    {
        case "html":
            @Html.Raw(component.Content)
            break;
        case "summary":
            @await Html.PartialAsync("FormComponents/_Summary", Model)
            break;
    }
}

<govuk-button-link href="/form/@Model.FormId/confirmation">Accept and send</govuk-button-link>
